<aside class="blobTools">
    {% if site.github.pages_hostname == "github.io" %}
		<a href={{ site.github.repository_url }}/blob/{{ site.github.source.branch }}/{{ page.path }} title="Voir sur Github" class="blobGhLink tooltip" data-title="githubLink"></a>
    {% endif %}
    <a href="#top" class="blobPageTop">Haut de page</a>
</aside>

<article class=blobContent data-title=content>
  <h1>{{ page.title }}</h1>

  {{ page.category | to }} par {{ page.author }}, le {{ page.updated }}, sous licence {{page.licence}}

  {{ content }}

  <div class=tags>
    <ul>
      {% for tag in page.tags %}
      <li>{{ tag }}</li>
      {% endfor %}
    </ul>
  </div>
</article>