/*
 * GENERAL 
 */


/*
 * RESET
 * Reset just the minimum, improve with time
 */

 body {
  background-image: $base_url;
  background-image: $config1;
  background-image: $config2;
}

 body {
  margin: 0;
}

/*Titles*/
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

/*Forms*/
fieldset {
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  border: none;
}

/*Lists*/
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}



 * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  background:  #f8f8f8;
  border-top: 3px solid #29abe2;
}

.container {
  margin: 0px auto;
  width: 620px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
a {
  color: #29abe2;
}

h2,
h3 {
  color: #29abe2;
}

h1 {
  font-family: "Montserrat", Arial, sans-serif;
}
h1 a {
  color: #4d4d4d;
  text-decoration: none;
}
h1 span {
  color: #29abe2;
}

header {
  display: table;
  width: 100%;
  padding: 20px 0 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

/*header with search engine*/
header h1,
header .search-engine {
  display: table-cell;
}
header .search-engine {
  width: 50%;
}
header .search-engine input[type="text"] {
  padding: 5px;
  width: calc(100% - 105px);
}
header .search-engine input[type="submit"] {
  padding: 5px;
  color: #fff;
  font-size: 0.8rem;
  background-color: #29abe2;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  img {
    width: 100%;
    height: auto;
  }
}

/*
 * Breadcrumbs
 */
.breadcrumb {
  padding: 20px 0;
  margin: 0px auto;
  width: 620px;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
}
.breadcrumb li:not(:first-child) {
  margin-left: 5px;
}
.breadcrumb li:not(:first-child):before {
  content: '> ';
}

/*
 * BLOB
 */

.blobTools {
  position: fixed;
  height: 100vh;
  width: 32px;
  padding-top: 45px;
  margin-left: -50px;
}
.blobTools a {
  display: block;
  text-indent: -9999px;
  opacity: .3;
  transition: opacity 0.3s;
}
.blobTools a:hover {
  opacity: .8;
}
.blobGhLink {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.blobGhLink {
  margin-bottom: 5px;
  background: url(/assets/ico-github.svg) 0 0 no-repeat;
  background-size: 16px;
}
.blobPageTop {
  position: absolute;
  bottom: 50px;
  width: 32px;
  height: 32px;
  background: url(/assets/ico-top.svg) 0 no-repeat;
  background-size: 32px;
}
/* Tooltip Styles
*/
.tooltip {
  position: relative;
}
.tooltip:before {
  content: attr(title);
  position: absolute; 
  bottom: 100%; 
  left: 50%;
  padding: .25em .5em;
  min-width: 75px;
  font-size: .8em;
  color: #fff;
  text-indent: 0;
  text-align: center;
  background: black;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%);
  transition: all .2s ease-out;
}
.tooltip:hover:before {
  transform: translateX(-50%) translateY(-10%);
  opacity: 1;
}
#parentRepo {
  padding-top: 10px;
  text-align: center;
}
.blobContent {
  font-family: Georgia, 'Times New Roman', Times, serif;
  content: "medium";
  box-sizing: border-box;
  padding: 0px;
  margin: 19px 0px;
  letter-spacing: 0.01rem;
  color: rgba(0,0,0,0.7);
}
.blobContent h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 1.75rem;
}
.blobContent h2 {
  font-size: 1.9375rem;
  line-height: 1.75rem;
  margin-top: 3.5rem;
  margin-bottom: 1.75rem;
}
.blobContent h3 {
  font-size: 1.1875rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.blobContent h4 {
  font-size: 1.1875rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.blobContent p,
.blobContent ul,
.blobContent ol,
.blobContent table{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.188rem;
  line-height: 1.5;
}
.blobContent ul {
  margin-left: 20px;
}
.blobContent ul ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 36px;
}
.blobContent li {
  position: relative;
  margin-bottom: 5px;
  padding-left: 20px;
  list-style-type: none;
}
.blobContent li:before {
  content: '>';
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
}
.blobContent ol {
  padding-left: 0;
  counter-reset: section;
  list-style-type: none;
  margin-left: 20px;
}
.blobContent ol li:before {
  position: relative;
  counter-increment: section;
  content: counters(section, ".") " ";
}
.blobContent img {
  display: block;
  padding: 4px;
  margin: 0.75rem 0;
  background-color: #fff;
  border: 1px solid #29abe2;
  border-radius: 4px;
  transition: all .2s ease-in-out;
}
.blobContent a {
  color: #4d4d4d;
  text-decoration: none;
  border-bottom: 1px solid #4d4d4d;
  transition: all 0.3s
}
.blobContent a:hover,
.blobContent a:focus {
  color: #29abe2;
  border-bottom-color: #29abe2;
}
.blobContent pre,
.blobContent blockquote {
  margin: 0 2em;
  background-color: #fff;
}
.blobContent pre {
  margin: 2em;
  padding: 1em;
  white-space: pre-wrap;
}
.blobContent blockquote {
  padding: 0.5em 1em;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: italic;
  border-left: 5px solid #29abe2;
}
.blobContent blockquote p {
  margin: 0;
}

/*
 * TAGS
 */

.tags,
.tags ul {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  color: rgba(0,0,0,0.44);
  letter-spacing: 0;
}
.tags ul {
  list-style: outside none none;
  margin: 5px 0;
  padding: 0;
}
.tags li {
  float: left;
  background: #fafafa;
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  padding: 3px 10px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.tags li:before {
  content: "";
}

@media (max-width:768px) {
  .blobContent {
    text-align: left;
  }
  .contribution-tools {
    display: none;
  }
  .blobContent blockquote {
    margin: 0;
  }
  #parentRepo a {
    display: block;
  }
  .blobContent ul,
  .blobContent ol {
    margin-left: 0;
  }
  .blobContent pre {
    padding: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.188rem;
    word-wrap: break-word;
  }
}

/*
 * CONTRIBUTIONS LIST
 */

/*list of article*/
.ghTree {
  
  }
  .ghTreeItem {
    position: relative;
    padding: 20px 0;
  }
  .ghTreeItem:not(:last-child) {
    margin-bottom: 30px;
  }
  .ghTreeItem:not(:last-child):after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 25%;
    height: 1px;
    margin: auto;
    background: #000;
  }
  .ghTreeTitle {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1;
  /*  text-transform: uppercase;*/
  }
  .ghTreeMeta {
    margin-bottom: 10px;
    font-size: 0.8em;
  }
  .ghTreeMeta p {
    margin: 0;
  }
  

/*list of folder*/
.ghTree h2:before {
  content: '';
  display: table-cell;
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.ghTree h2 a {
  display: table-cell;
}

.ghTreeItem img {
  margin-bottom: 15px;
  margin-left: 30px;
}

.ghTreeContent {
  margin-left: 30px;
}

.ghTypeRepo h2:before {
  background: url($base_ul ico-repo.svg) 0 0 no-repeat;
  background-size: 16px;
}
